.details-outer-container {
    width: 100%;
    margin-top: 40px;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.04);
    padding: 70px 50px;
    border-radius: 10px;
}

p.primary-text {
    color: #999999;
}

.item-title > h3 {
    font-weight: 600;
    font-size: 28px;
    color: #689FD2;
    text-align: left;
}

.method-container-heading {
    margin-top: 40px;
    color: #689FD2;
    font-size: 14px;
    font-weight: 600;

}

.method-list {
    padding-left: 20px !important;
}

.method-list-item {
    margin-top: 30px;
}

.method-list-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.method-list-item, .method-section-title {
    color: #999999;
    font-weight: 600;
    font-size: 16px;
}

.method-description {
    color: #999999;
    font-weight: 400;
}

.copy-button {
    text-align: right;
}

.copy-button > button {
    background-color: #ECF6FF;
    color: #689FD2;
    border: none;
    border-radius: 3px 3px 0 0;
    font-size: 14px;
    padding: 4px 20px;
}

.copy-button > button:focus {
    outline: none;
}

.code-block {
    padding: 25px !important;
    font-weight: 400;
}

.method-parameter-name {
  color: #689FD2;
}

.method-parameter-description {
  color: #999999;
  font-weight: 400;
}

.method-dependency, 
.method-dependency > a,
.method-dependency > a:hover,
.method-dependency > a:visited,
.method-dependency > a:active {
  color: #689FD2 !important;
}

.method-source,
.method-source > a,
.method-source > a:hover,
.method-source > a:visited,
.method-source > a:active {
  color: #689FD2 !important;
}