.details-outer-container {
    width: 100%;
    margin-top: 40px;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.04);
    padding: 70px 50px;
    border-radius: 10px;
}

p.primary-text {
    color: #999999;
}

.details-inner-container {

}

.item-title > h3 {
    font-weight: 600;
    font-size: 28px;
    color: #689FD2;
    text-align: left;
}

.code-block {
    padding-left: 25px !important;
    padding-right: 25px !important;
}