.search-container {
  width: 400px;
  margin: auto;
  max-width: 90%;
}

.search-container > input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 7px;
  border: 1px solid #eaeaea;
  font-size: 14px;
}
.search-container > input:focus {
  outline-color: transparent;
}

.search-container > input::placeholder {
  color: #999999;
}

.logo-image { 
  height: 54px;
}

.site-name {
  font-family: Cookie, Arial, Helvetica, sans-serif;
  font-size: 60px;
  line-height: 60px;
  margin-top: 6px;
  margin-left: 10px;
  color: #5a5a5b;
}
