html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F6FAFF !important;
}

.App {
  width: 95%;
  max-width: 1400px;
  margin: auto;
  padding: 10px;
}

* {
  transition: outline-color 0s;
}

*:focus {
  outline-color: #689FD2;
}

.Toastify__toast {
  padding: 6px 18px !important;
  border-radius: 5px !important;
  opacity: 0.9 !important;
}
